.home-container {
  margin: 40px auto;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-link {
  text-decoration: none;
  display: inline-block;
  border-radius: 32px;
  padding: 12px 24px;
  border: 2px solid #04d98c;
  color: #013220;
  margin-top: 16px;
  transition: all 0.3s ease;
}

.home-link:hover {
  background-color: #04d98c;
  transform: translateY(-2px);
}

body.dark-mode .home-link {
  border-color: #04d98c;
  color: #04d98c;
}

body.dark-mode .home-link:hover {
  background-color: #04d98c;
  color: #013220;
}
