.radio__option {
  display: flex;
  align-items: center;
  border: 0;
  margin-bottom: 16px;

  label {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #5E6573;
  }

  input[type="radio"] {
    min-width: 24px;
    min-height: 24px;
    max-width: 24px;
    max-height: 24px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #C6C6C6;
    margin: 0 8px 0 0;
    accent-color: #0048DB;
  }
}